*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
}
#changeSizeButton{
    padding: 5px 15px;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.canvas-container{
    box-sizing: content-box;
    width: 480px;
    height: 480px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.square{
    border: 1px solid black;
}

.square:hover{
    background-color: black;
}

